.body {
    height: 500px;
    width: 250px;
    
}

.outerbody {
    text-align: center;
    border-radius: 10px;
    
    background:#EFEFEF;
}

.innerBody {
    height: 365px;
    width: 250px;
    overflow-y: auto;
}

footer {
    position: sticky;
    left:0px;
    bottom:0px;
    width:250px;
    font-size: 12.5px;
    text-align: center;
    background:#999;
}

div.form {
    border: 1px solid #FFE6E6;
    border-radius: 25px;
    background: #FFE6E6;
}

input[type="text"] {
   width:104px;
}

input[type="number"] {
   width:42px;
}

div.tagtable {
    background: white;
    height: 50%;
}

div.tracktable {
    background: white;
    height: 50%;
}

#map_canvas {
        width: 500px;
        height: 400px;
      }

<!--tooltip css-->
.tooltip {
    text-decoration:none;
    position:relative;
}
.tooltip span {
    display:none;
}
.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
}

.tooltipTable {
    height: 50px;
    width: 200px;
    overflow-y: auto;
    overflow-x: auto;
}
<!------------------------------>
<!--for tooltiptable-->
.tg  {
    border-collapse:collapse;
    border-spacing:0;
}
.tg td{
    font-family:Arial, sans-serif;
    font-size:10px;

    border-style:solid;
    border-width:1px;

    overflow:hidden;
    word-break:normal;
}
.tg th{
    font-family:Arial, sans-serif;
    font-size:10px;
    font-weight:normal;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}

a {
    text-decoration:none;
    color: black;
}
<!------------------------------>

#map_canvas {
    width: 200px;
    height: 365px;
}